{% extends "layouts/auth-base.html" %}

<!-- Internationalization tags -->
{% load i18n %}

<!-- allauth account tags -->
{% load account %}

<!-- Title -->
{% block head_title %}{% trans "Logout" %}{% endblock %}

<!-- Content -->
{% block content %}
<div class="login-card">
  <div class="card-header">
    <h2 class="card-title">{% trans "Logout" %}</h2>
  </div>
  <div class="card-body">
    <p class="mt-3 mb-0">{% trans "Are you sure you want to sign out?" %}</p>
  </div>
  <div class="card-footer text-center">
    <form role="form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <button
        type="submit"
        class="btn pmd-ripple-effect btn-primary btn-block btn-lg pmd-btn-raised m-0"
      >
        {% trans 'Sign Out' %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
