{% extends "layouts/base.html" %}

<!-- Internationallization -->
{% load i18n %}

<!-- Head title -->
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!--content area start-->
{% block content %}
<div id="content" class="pmd-content admin section-container">
  <!-- Page title -->
  {% block title_page %}
  <h1>{% trans "Change Password" %}</h1>
  {% endblock title_page %}
  <!-- End page title-->
  <!-- Breadcrumbs -->
  {% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pmd-breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  {% endblock breadcrumbs %}
  <!-- End Breadcrumbs -->

  <!-- Page content -->
  <div class="page-content">
    <div class="card pmd-card single-col-form">
      <div class="card-header">
        <h3 class="card-title">Change Password</h3>
        <p class="card-subtitle">
          It's a good idea to use a strong password that you don't use elsewhere.
        </p>
      </div>
      <div class="card-body">
        <form role="form" method="post" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="{{ form.oldpassword.id_for_label }}" class="col-form-label"
              >Current Password</label
            >
            {{ form.oldpassword }}
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="{{ form.password1.id_for_label }}" class="col-form-label"
              >New Password</label
            >
            {{ form.password1 }}
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="{{ form.password2.id_for_label }}" class="col-form-label"
              >Confirm Password</label
            >
            {{ form.password2 }}
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary pmd-ripple-effect pmd-btn-raised"
            >
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End page content -->
</div>
{% endblock %}
